*{
    padding: 0;
    margin:0;
    font-family: arial;
}
nav {
    width:100vw
}
ul {
    list-style: none;
    margin:0;
    padding:0;
}

ul li {
    float:left;
    width:19.7vw;
    height: 40px;
    background-color: black;
    opacity: 0.9;
    color:white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
ul li a{
    color:white;
    text-decoration: none;
    display:block;
}
@keyframes menu-background{
    100%{
        background-color:green;
        border-radius:10px;
    }
}
ul li a:hover {
    animation-name: menu-background;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}
ul li ul li{
    float:left;
    display:none;
}
ul li:hover ul li{
    display: block;
}
p{
    width:10px;
}

.border{
    border-radius: 0 0 10px 10px;
}