*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    
}

:root{
    --primary-color:#041e42;
}

.navbar-container{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
}

.navbar-container .navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: inherit;
    background:var(--primary-color);
    color:#fff;
}

.navbar-container .navbar-list li{
    display: block;
    padding: 1rem 2vw;
}

.navbar-container .navbar-list li a{
    color: inherit;
}

.navbar-container .navbar-list li:hover{
    background:#fff;
    color:var(--primary-color);
    transition: all 0.3s ease;
}
