
/* Banner style */

.top-banner {
    margin-top: 50px;
    width: 100vw;
    height: 60px;
    background-color: #000;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top-banner .text-center,
.top-banner .banner-link > a{
    color:#fff;
}
.top-banner .banner-link > a {
    text-decoration: underline;
}

/* Image slider style  */ 

.image-slider a,
.image-slider a img{
    width: 100vw;
}

/* Featured catagories */


.featured-catagories {
    /* border: dotted green 3px;  */
    background-color:#fff;              /* change later */
}

.featured-catagories > h2 {
    margin: 4vh 0;
    text-align: center;
}

.featured-catagories .featured-grid {
    width: 100vw;
    height: auto;
    padding:0 0 30px 0;              /*maybe change ?*/
    /* outline: dotted 3px black; */
    display: flex;
    flex-direction: row;
}

.featured-catagories .featured-grid .featured-item {
    width: 25vw;
    height: auto;
}
.featured-catagories .featured-grid .featured-item .item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#000;
}

.featured-catagories .featured-grid .featured-item .item-link img {
    width:100%;
}
.featured-catagories .featured-grid .featured-item .item-link .reduce-image{
    width:75%;
    margin-bottom: 30px;
}